<a href="https://colab.research.google.com/github/Thing-ji/examples/blob/main/%EC%96%91%EC%B6%94%EC%A0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!nvidia-smi

NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import tensorflow as tf

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [ ]:
df = pd.read_csv('est_dish.csv', encoding = 'cp949')

In [ ]:
df['real_spoon_w'] = 5
df['real_spoon_h'] = 3.5

df['real_fork_w'] = 5.5
df['real_fork_h'] = 2.5

df['real_coin_w'] = 2.5
df['real_coin_w'] = 2.5

In [ ]:
df['d_w_cm'] = (df['dish_width']*2.54)/(df['dip'])
df['d_h_cm'] = (df['dish_height']*2.54)/(df['dip'])

df['f_w_cm'] = (df['food_width']*2.54)/(df['dip'])
df['f_h_cm'] = (df['food_height']*2.54)/(df['dip'])

df['c_w_cm'] = (df['ref_coin_width']*2.54)/(df['dip'])
df['c_h_cm'] = (df['ref_coin_height']*2.54)/(df['dip'])

df['fr_w_cm'] = (df['ref_fork_width']*2.54)/(df['dip'])
df['fr_h_cm'] = (df['ref_fork_height']*2.54)/(df['dip'])

df['s_w_cm'] = (df['ref_spoon_width']*2.54)/(df['dip'])
df['s_h_cm'] = (df['ref_spoon_height']*2.54)/(df['dip'])

In [ ]:
df1 = df.copy()

In [ ]:
df1['food_wXh'] = df1['f_w_cm'] * df1['f_h_cm']
df1['dish_wXh'] = df1['d_w_cm'] * df1['d_h_cm']
df1['spoon_wXh'] = df1['s_w_cm'] * df1['s_h_cm']

In [ ]:
df.columns

Index(['Unnamed: 0', 'file_name', 'view', 'menu1', 'menu2', 'box', 'quantity',
       'dish_xmin', 'dish_ymin', 'dish_xmax', 'dish_ymax', 'dish_width',
       'dish_height', 'food_xmin', 'food_ymin', 'food_xmax', 'food_ymax',
       'food_width', 'food_height', 'ref_coin_xmin', 'ref_coin_ymin',
       'ref_coin_xmax', 'ref_coin_ymax', 'ref_coin_width', 'ref_coin_height',
       'ref_fork_xmin', 'ref_fork_ymin', 'ref_fork_xmax', 'ref_fork_ymax',
       'ref_fork_width', 'ref_fork_height', 'ref_spoon_xmin', 'ref_spoon_ymin',
       'ref_spoon_xmax', 'ref_spoon_ymax', 'ref_spoon_width',
       'ref_spoon_height', 'real_dish_l', 'real_dish_w', 'real_dish_h', 'dip',
       'real_spoon_w', 'real_spoon_h', 'real_fork_w', 'real_fork_h',
       'real_coin_w', 'd_w_cm', 'd_h_cm', 'f_w_cm', 'f_h_cm', 'c_w_cm',
       'c_h_cm', 'fr_w_cm', 'fr_h_cm', 's_w_cm', 's_h_cm'],
      dtype='object')

In [ ]:
df1['real_wXh'] = df1['real_spoon_w'] * df1['real_spoon_h']
df1['s_wXh'] = df1['s_w_cm'] * df1['s_h_cm']
df1['d_wXh'] = df1['d_w_cm'] * df1['d_h_cm']
df1['f_wXh'] = df1['f_w_cm'] * df1['f_h_cm']

df1['real_prop'] = df1['real_wXh'] / df1['s_wXh']
df1['real_food_size'] = df1['real_prop'] * df1['f_wXh']
df1['real_dish_size'] = df1['real_prop'] * df1['d_wXh']

df1['prop'] = df1['real_food_size'] / df1['real_dish_size']

In [ ]:
df1 = df1[['menu1', 'menu2', 'quantity', 'view','real_spoon_w', 'real_spoon_h', 'd_w_cm', 'd_h_cm', 'f_w_cm', 'f_h_cm',
    's_w_cm', 's_h_cm']]

In [ ]:
df1 = df1.drop(['d_w_cm', 'd_h_cm', 'f_w_cm', 'f_h_cm', 's_w_cm', 's_h_cm'], axis = 1)

In [ ]:
df1['s_wXh'] = df1['s_wXh'].map(lambda i:np.log(i) if i > 0 else 0)
# df1['prop'] = df1['prop'].map(lambda i:np.log(i) if i > 0 else 0)
df1['d_wXh'] = df1['d_wXh'].map(lambda i:np.log(i) if i > 0 else 0)

df1['f_wXh'] = df1['f_wXh'].map(lambda i:np.log(i) if i > 0 else 0)
df1['real_prop'] = df1['real_prop'].map(lambda i:np.log(i) if i > 0 else 0)
df1['real_food_size'] = df1['real_food_size'].map(lambda i:np.log(i) if i > 0 else 0)

df1['real_dish_size'] = df1['real_dish_size'].map(lambda i:np.log(i) if i > 0 else 0)
df1.head()

   menu1 menu2 quantity  ... real_food_size  real_dish_size      prop
0  건더기국류   꽃게탕       Q1  ...       4.489346        5.622525  0.322008
1  건더기국류   꽃게탕       Q1  ...       4.450916        5.535658  0.337989
2  건더기국류   꽃게탕       Q1  ...       4.489710        5.559620  0.343039
3  건더기국류   꽃게탕       Q1  ...       4.481863        5.489856  0.364951
4  건더기국류   꽃게탕       Q1  ...       4.482671        5.536854  0.348477

[5 rows x 14 columns]

In [ ]:
df1.columns

Index(['menu1', 'menu2', 'quantity', 'view', 'real_spoon_w', 'real_spoon_h',
       'real_wXh', 's_wXh', 'd_wXh', 'f_wXh', 'real_prop', 'real_food_size',
       'real_dish_size', 'prop'],
      dtype='object')

In [ ]:
df1 = df1.drop(['menu1', 'menu2','view','real_spoon_w', 'real_spoon_h', 'real_wXh', 'real_dish_size'], axis = 1)

In [ ]:
df1 = pd.get_dummies(df1)

In [ ]:
df1.head()

      s_wXh     d_wXh     f_wXh  ...  quantity_Q3  quantity_Q4  quantity_Q5
0  1.585316  4.345640  3.212461  ...            0            0            0
1  1.637351  4.310808  3.226066  ...            0            0            0
2  1.629319  4.326738  3.256828  ...            0            0            0
3  1.694590  4.322245  3.314252  ...            0            0            0
4  1.658222  4.332876  3.278692  ...            0            0            0

[5 rows x 11 columns]

In [ ]:
feature_columns = list(df1.columns.difference(['quantity_Q1',	'quantity_Q2',	'quantity_Q3'	,'quantity_Q4',	'quantity_Q5']))
X = df1[feature_columns]
y = df1[['quantity_Q1',	'quantity_Q2',	'quantity_Q3'	,'quantity_Q4',	'quantity_Q5']] # target

In [ ]:
# 모델적용
np.random.seed(100)
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [ ]:
t_x = tf.keras.layers.Input(shape = [6])
t_y = tf.keras.layers.Dense(5, activation = 'softmax')(t_x)
model = tf.keras.models.Model(t_x, t_y)
model.compile(loss = 'categorical_crossentropy', metrics = 'accuracy')

In [ ]:
model.fit(X, y, epochs = 1000, verbose = 0)
model.fit(X, y, epochs = 10)

Epoch 1/10
1408/1408 [==============================] - 1s 930us/step - loss: 1.4107 - accuracy: 0.3432
Epoch 2/10
1408/1408 [==============================] - 1s 964us/step - loss: 1.4110 - accuracy: 0.3427
Epoch 3/10
1408/1408 [==============================] - 1s 988us/step - loss: 1.4109 - accuracy: 0.3432
Epoch 4/10
1408/1408 [==============================] - 1s 962us/step - loss: 1.4107 - accuracy: 0.3441
Epoch 5/10
1408/1408 [==============================] - 1s 984us/step - loss: 1.4109 - accuracy: 0.3416
Epoch 6/10
1408/1408 [==============================] - 1s 961us/step - loss: 1.4106 - accuracy: 0.3428
Epoch 7/10
1408/1408 [==============================] - 1s 961us/step - loss: 1.4106 - accuracy: 0.3420
Epoch 8/10
1408/1408 [==============================] - 1s 958us/step - loss: 1.4107 - accuracy: 0.3427
Epoch 9/10
1408/1408 [==============================] - 1s 964us/step - loss: 1.4107 - accuracy: 0.3425
Epoch 10/10
1408/1408 [==============================] - 1s 979us/step - loss: 1.4107 - accuracy: 0.3434